*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
	background: #000f1a;
    /*background: #001b30;*/
    font-family: Open Sans;
    display: flex;
    align-items: center;
	justify-content: center;
}

.audioWaves{
    left: 50%;
    display: flex;
    align-items: center;
    height: 150px;
}

.audioWaves .stroke{
    position: relative;
    height: 100%;
    width: 10px;
    border-radius: 50px;
    margin: 0 10px;
    background: linear-gradient(#00c9ff, #bd00b7);
    animation: waveAnimation 1s linear infinite;
    animation-delay: var(--delay);
}

@keyframes waveAnimation{
    50%{
        height: 20%;
    }
    0%, 100%{
        height: 100%;
    }
}